:root{    
    --background:#9bbacc;
    --background-selected-item:#324f61;
    --select-item:#ffffff;
    --item:#9bbacc;
  
}
.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}  
  
#list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#list tr:nth-child(odd){background-color: #083d56;}
#list tr:nth-child(even){background-color: #0c2233;}
#list tr:hover {background-color: #1d547d;}

#list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #084758; 
  color: white;
}
.selectTh {
    background-color: #d4af37 !important; 
    color: rgb(41, 38, 38) !important;
}
.btn{        
    margin-left: 20px;
    color:#080808;
    text-decoration: none;
    border: 1px solid #171718;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.btn:active{
    color:#000000;
    background-color: #e7f1ee;
}
.btn:hover{
    color:#ffffff;
    border: 1px solid #0e5f76;    
} 